<template>
    <div class="container">
        <h2>LIST OF PRODUCT - bootstrapJS</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="p in allProducts">
                    <td>
                        <router-link :to="{name: 'product', params: {id: p.id}}" class="title">
                            {{p.id}}
                        </router-link>
                    </td>
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                </tr>
            </tbody>
        </table>

        <h2>LIST OF PRODUCT - DATATABLES</h2>
        <table id="datatables" class="table table-striped" width="100%">
        </table>

        <h2>GOOGLE CHART</h2>
        <GoogleChart/>
    </div>
</template>

<script>
    import $ from 'jquery'
    import GoogleChart from '@/components/common/GoogleChart'
    import {mapGetters, mapActions} from 'vuex';

    export default {
        mounted() {
            this.getAllProduct();
            createDataTables();

            // If getters and actions are same name, change name before invoke
        },
        components: {
            GoogleChart
        },
        computed: {
            ...mapGetters([
                'allProducts'
            ])
        },
        methods: {
            ...mapActions([
                'getAllProduct'
            ])
        }
    };

    function createDataTables() {
        let dataSet = [
            ['Tiger Nixon', 'System Architect'],
            ['Garrett Winters', 'Accountant'],
            ['Ashton Cox', 'Junior Technical Author'],
            ['Cedric Kelly', 'Senior Javascript Developer'],
            ['Airi Satou', 'Accountant']
        ];

        $('#datatables').dataTable({
            data: dataSet,
            columns: [
                {title: 'Name'},
                {title: 'Position'}
            ]
        })
    }
</script>
