<template>
    <div class="container">
        <h2>DETAIL OF PRODUCT</h2>
        <label class="font-weight-bold">Id: </label>
        <p>{{product.id}}</p>
        <label class="font-weight-bold">Name: </label>
        <p>{{product.name}}</p>
        <label class="font-weight-bold">Price: </label>
        <p>{{product.price}}</p>
    </div>
</template>


<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        mounted() {
            let id = parseInt(this.$route.params.id);
            console.log(this);
            this.findById(id);
        },
        computed: {
            ...mapGetters([
                'product'
            ])
        },
        methods: {
            ...mapActions([
                'findById'
            ])
        }
    };
</script>
