<template>
    <div class="container">
        <h2>NEW PRODUCT</h2>
        <form action="/" id="fm" >
            <div class="form-group">
                <label for="name">Name:</label>
                <input name="name" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input name="price" class="form-control" id="price">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</template>

<script>
    import $ from 'jquery'

    export default {
        mounted() {
            validator();
        },
        computed: {
        },
        methods: {
        }
    };

    function validator() {
        $('#fm').validate({
            rules: {
                name: 'required',
                price: 'required'
            },
            messages: {
                name: {
                    required: 'Please enter'
                },
                price: {
                    required: 'Please enter'
                }
            }
        });
    }
</script>

<style>
    .error {
        color: red;
    }
</style>
