<template>
    <div>
        <h3>PieChart</h3>
        <div id="pieChart"></div>

        <h3>ComboChart</h3>
        <div id="comboChart"></div>
    </div>
</template>


<script>
    import {charts} from '../../lib/google-charts';
    import {mapGetters, mapActions} from 'vuex';

    export default {
        mounted() {
            this.getAllProduct();
            charts.load(drawPieChart);
            charts.load(() => drawComboChart(this.allProducts));
        },
        computed: {
            ...mapGetters([
                'allProducts'
            ])
        },
        methods: {
            ...mapActions([
                'getAllProduct'
            ])
        }
    };

    function drawPieChart() {
        let products = [
            {id: 1, name: 'A1', price: 0.1},
            {id: 2, name: 'A2', price: 0.2},
            {id: 3, name: 'A3', price: 0.6},
            {id: 4, name: 'A4', price: 0.9}
        ];
        let data = [['name', 'price']];
        products.forEach(p => {
            let temp = [p.name, p.price];
            data.push(temp);
        });

        // Standard google charts functionality is available as GoogleCharts.api after load
        const chart = charts.api.visualization.arrayToDataTable(data);

        const pieChart = new charts.api.visualization.PieChart(document.getElementById('pieChart'));
        pieChart.draw(chart);
    }

    function drawComboChart(products) {
        let dumpTime = '2018/02';

        let headers = ['Month'];
        let rows = [dumpTime];

        products.forEach(p => {
            headers.push(p.name);
            rows.push(p.price);
        });

        let data = [headers, rows];

        let options = {
            title: 'Monthly Sales Production',
            vAxis: {title: 'Price'},
            hAxis: {title: 'Month'},
            seriesType: 'bars',
            series: {10: {type: 'line'}}
        };

        // Standard google charts functionality is available as GoogleCharts.api after load
        const chart = charts.api.visualization.arrayToDataTable(data);

        const pieChart = new charts.api.visualization.ComboChart(document.getElementById('comboChart'));
        pieChart.draw(chart, options);
    }
</script>
