<template>
    <div class="menu-links">
        <router-link to="/">Home</router-link>
        <router-link to="/product/new">New Product</router-link>
    </div>
</template>

<style>
    .menu-links a {
        display: inline-block;
        text-decoration: none;
        color: #555;
        margin-right: 30px;
    }
</style>
